.bar {
    width: 10px;
    height: 30px;
    background-color: darksalmon;
    margin-left: 10px;
  }
  
  
  .overlapped-bar {
    width: 10px;
    height: 30px;
    background-color: lightseagreen;
    margin-left: 10px;
  }
  